<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App&copy;</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <input id="ipt" type="checkbox"/>
    <label  id="lb" for="ipt">
        <img id="im" src="../assets/toggle.png" />
    </label>
    <nav class="nav">
        <ul class="list">
            <li id="li"><a id="anchor" href="">Home</a></li>
            <li id="li"><a id="anchor" href="">News</a></li>
            <li id="li"><a id="anchor" href="">Turorials</a></li>
            <li id="li"><a id="anchor" href="">Contact</a></li>
            <li id="li"><a id="anchor" href="">About</a></li>
        </ul>
    </nav>
</body>
</html>